Project/__pycache__/
Project/AMS/.idea/AMS.iml
Project/AMS/.idea/encodings.xml
Project/AMS/.idea/misc.xml
Project/AMS/.idea/modules.xml
Project/AMS/.idea/vcs.xml
Project/AMS/.idea/workspace.xml
Project/AMS/__pycache__/controllers.cpython-36.pyc
Project/AMS/__pycache__/models.cpython-36.pyc
Project/AMS/__pycache__/search.cpython-36.pyc
Project/AMS/__pycache__/db.cpython-36.pyc
Project/AMS/__pycache__/c.cpython-36.pyc
Project/AMS/__pycache__/b.cpython-36.pyc
Project/AMS/__pycache__/auth.cpython-36.pyc
Project/AMS/__pycache__/a.cpython-36.pyc
Project/AMS/__pycache__/__init__.cpython-36.pyc
*.pyc
