{% extends "a/add.html"%}
{% block content%}

<div class="container-fluid" style="padding:0px">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="border-color:#30aab8; border-width: 1px;padding:25px !important;">
                <h5 class="card-title" style="color:#30aab8">Add Flight for {{g.user[5]}}</h5><br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="text-align:center !important; width: 100%;">
                    {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    {% endblock %}