{% extends "index.html"%}
{% block content%}
<h1>Customer Data:</h1>
<h2>Search Customer History</h2>
<form action="#" method="POST">
    Customer Email:<input type="text" name="customer_email">
    <input type="submit" value="Submit">
</form>
{% if customer_info %}
   
   {% if customer_info == "e" %}
   <h3>No Data</h3>
   {% else %}
   <h3>Flight History</h3> 
   <table>
       <tr>
           <th>Flight ID</th>
           <th>Departure Airport</th>
           <th>Departure Time</th>
           <th>Arrive Airport</th>
           <th>Arrive Time</th>
       </tr>
   {% for flight in customer_info %}
       <tr>
           {% for item in flight%}
            <td>{{item}}</td>
           {% endfor %}
       </tr>
   {% endfor %}
   </table>
   
   {% endif %}
{% endif%}
<h2>Top Customer in One Year</h2> 
<table>
    <tr>
        <th>Username</th>
        <th>User Email</th>
        <th>Order Time</th>
    </tr>
    <tr>
        {% for item in top_customer%}
            <td>{{item}}</td>
        {% endfor %}
    </tr>
</table>
{% endblock %}
    