{%extends "dashboard.html"%}
{%block tab%}
<li class="nav-item">
    <a class="nav-link" id="history-tab" href="/a/flights" role="tab" aria-controls="history"
        aria-selected="true">Current Flights</a>
</li>
<li class="nav-item">

    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Add</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/a/addflights">Add Flights</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/a/addplane">Add Plane</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/a/addairport">Add Airport</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="/a/ba" role="tab" aria-controls="stats" aria-selected="false">Booking
        Agent</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/a/customer" role="tab" aria-controls="stats" aria-selected="false">Frequent
        Customer</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/a/reports" role="tab" aria-controls="stats" aria-selected="false">Sales Report</a>
</li>
{%endblock%}

{%block panel%}

<div class="container" style="padding:0px">
    <div class="row">
        <!-- Filter -->
        <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                style="border-color:#30aab8; border-width: 1px; padding: 0px !important">
                <h5 class="card-header">Top Customer in One Year</h5>
                <div class="card-body" style="padding:1px">
                    {% if top_customer %}
                    <table class="table table-striped" style="margin:0">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>User Email</th>
                                <th>Order Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for item in top_customer%}
                                <td>{{item}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <h2 class="text-center" style="padding:2vw">No data</h2>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg">
            <div class="card shadow p-3 mb-5 bg-white rounded"
                style="border-color:#30aab8; border-width: 1px; padding: 0px !important; margin-bottom: 30px !important;">
                <h5 class="card-header">Search Customer History</h5>
                <div class="card-body" style="padding:0">
                    <form action="#" method="POST" class="form-inline" style="margin:0px !important; padding:10px;">
                        <div class="form-row" style="width:100%">
                            <div class="col">
                                <label class="mr-sm-2" for="cus">Customer Email:</label>
                            </div>
                            <div class="col">
                                <input class="form-control mb-2 mr-sm-2" id="cus" type="text" name="customer_email"
                                    required>
                            </div>
                            <div class="col">
                                <input class="btn btn-success btn-block" type="submit" value="Submit"
                                    style="width: 80%;margin-left: 20px">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if customer_info %}
            <div class="card show shadow p-3 mb-5 bg-white rounded"
                style="border-color:#30aab8; border-width: 1px; padding: 1px !important">
                {% if customer_info == "e" %}
                <h2 class="text-center" style="padding:2vw">No Data</h2>
                {% else %}
                <h5 class="card-header">Purchase History of {{email}}</h5>
                <div class="card-body" style="padding:0">
                    <div class="table-responsive">
                        <table class="table table-striped" style="margin:0">
                            <thead>
                                <tr>
                                    <th>Flight ID</th>
                                    <th>Departure Airport</th>
                                    <th>Departure Time</th>
                                    <th>Arrive Airport</th>
                                    <th>Arrive Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for flight in customer_info %}
                                <tr>
                                    {% for item in flight%}
                                    <td>{{item}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>
    {%endblock%}