{% extends "index.html"%}
{% block content%}
<h1> Flights</h1>
<form action="#" method="POST">
    Start Date: <input type="date" name="start_date" required>
    End Date: <input type="date" name="end_date" required>
    <input type="submit" value="Submit">
</form>
{% if flights %}
<table>
    <tr>
        <th>Departure Airport</th>
        <th>Arrive Airport</th>
        <th>Departure Time</th>
        <th>Arrive Time</th>
        <th>Status</th>
        <th>Base Price</th>
        <th>Info</th>
    </tr>
{% for flight in flights %}
    <tr>
    {% for item in flight[:6] %}
        <td>{{item}}</td>
    {% endfor %}
    <td>
    <form action="{{url_for('a.flight_info', flight_id = flight[6])}}" method="GET">
        <input type="radio" name="flight_id" style="visibility:hidden" value="{{flight[6]}}">
        <input type="submit" value="More Info & Edit Status">
    </form>
    </td>

    </tr>    
{% endfor %}
{% else %}
<h2>No data</h2>
{% endif %}
</table>
{% endblock %}
    