{% extends "index.html"%}
{% block content%}
 <h1>Info for Flight {{flight_id}}</h1>
 <form action="#" method="POST">
     <input type="radio" style="visibility:hidden" name="flight_id" value="{{flight_id}}" checked>
     <select name="status" id="">
         <option value=0>On Time</option>
         <option value=1>Delay</option>
     </select>
     <input type="submit" value="Submit">
 </form>
 {% if customers %}
    <table>
        <tr>
            <th>Customer Email</th>
            <th>Customer Name</th>
        </tr>
    {% for customer in customers %}
        <tr>
        {% for item in customer %}
        <td>
            {{item}}
        </td>
        {% endfor%}
        </tr>
    {% endfor%}
    </table>
 {% else %}
    <h2>No Data</h2>
 {% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% endblock %}