{%extends "login.html"%}
{%block header %} <div>
    Airline Staff Login
</div> {%endblock%}
{%block content%}
<form action="#" method="POST">

    <div class="form-group">
        <label for="un">User Name</label>
        <input type="text" id="un" name="username" required class="form-control" placeholder="Enter User Name">
    </div>
    <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" id="pass" name="password" required class="form-control" placeholder="Password">
    </div>
    <button type="submit" value="Login" class="btn btn-primary">Login</button>
    <br>
    <br>
    <p style="text-align:center">Not in our system? <a href="/auth/register/c">Register Now!</a></p>
</form>
<style>
    #footer-back {
        height: 31vh !important;
    }
    </style>
{%endblock%}