{% extends "dashboard.html"%}
{%block tab%}
<li class="nav-item" style="visibility:hidden">
  <a class="nav-link" id="history-tab" href="/a/flights" role="tab" aria-controls="history" aria-selected="true">Current
    Flights</a>
</li>
<script>
  document.title = 'Profile | Contrails';
</script>
{%endblock%}

{% block panel%}
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card shadow p-3 mb-5 bg-white rounded"
      style="border-color:#30aab8; border-width: 1px;padding:35px !important; padding-left: 60px !important; padding-right: 60px !important">
      <h5 class="card-title" style="color:#30aab8">Personal Profile</h5>
      <table class="table table-sm table-borderless">
        <tr>
          <th style="width: 35%">Username</td>
          <td>{{username}}</td>
        </tr>
        <tr>
          <th>First Name</td>
          <td>{{fname}}</td>
        </tr>
        <tr>
          <th>Last Name</td>
          <td>{{lname}}</td>
        </tr>
        <tr>
          <th>Date of Birth</td>
          <td>{{bday}}</td>
        </tr>
        <tr>
          <th>Airline</td>
          <td>{{airline}}</td>
        </tr>
        <tr>
          <th>Phones</td>
          <td>{% for phone in phones %}
            {{phone[0]}},
            {% endfor %}</td>
        </tr>
      </table>
      <div class="dropdown-divider"></div>
      <h5 class="card-title" style="color:#30aab8">Add Phone Number</h5>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      {% if message %}
      <p class="text-danger">{{ message }}</p>
      {%endif%}
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form action="#" method="POST" style="margin:0px;">
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input class="form-control" id="phone" type="number" name="phone_number" required>
        </div>
        <input class="btn btn-success" type="submit" value="Add">
      </form>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<script>
  document.getElementById("banner_dash").innerHTML = "Profile & Adding Phone Number";
</script>
{% endblock %}