{%extends "login.html"%}
{%block header %} Booking Agent Login {%endblock%}
{% block form %}
    Booking Agent ID: <input type="text" name="BAID" required><br>
    Email: <input type="email" name="email" required><br>
    Password: <input type="password" name="password" required><br>
    <button type="submit" value="Login">Login</button>
    <a href="/auth/register/b"><button type="button" value="Register">Register</button>
    <a href="">Forget Password?</a>
    <a href="">Forget BAID?</a>
{% endblock %}