{%extends "reg.html"%}
{%block banner %} <div class="">
    Booking Agent Register
</div> {%endblock%}
{%block content%}

<div class="col-lg-4">

</div>
<div class="col-lg-4">
    <div class="form-group">
        <label for="BAID">Booking Agent ID (8 characters) </label>
        <input type="text" id="BAID" name="BAID" required class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required class="form-control">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="password" required class="form-control">
    </div>
    <div class="form-group">
        <label for="confirm_pwd">Confirm Password</label>
        <input type="password" id="confirm_pwd" name="password_c" required class="form-control">
    </div>
</div>
<br>
<style>
#footer-back {
    height: 23vh !important;
}
</style>
{%endblock%}