{% extends "index.html"%}
{% block content%}
<h1>Search</h1>
<form action="" method="POST">
     From:<select name="dept_airport" id="" required>
         {% for airport in dept_airport%}
            <option value="{{airport[0]}}">{{airport[0]}}</option>
         {% endfor %}
     </select>
     To:<select name="arrv_airport" id="" required>
         {% for airport in arrv_airport%}
            <option value="{{airport[0]}}">{{airport[0]}}</option>
         {% endfor %}
     </select>
     On : <input type="date" name="dept_time" required>
     <input type="radio" name="trip" value="oneway"required>One way
     <input type="radio" name="trip" value="twoway" required>Two way
     <input type="submit" value="Search">
</form>
{% if result == 'e'%}
{% elif result %}
<table>
    <tr>
        <th>Airline</th>
        <th>Departure Time</th>
        <th>Arrive Time</th>
        <th>Price</th>
    </tr>
    {% for item in result %}
        <tr>
            {% for i in item[:4] %}
                <td>{{i}}</td>
            {% endfor %}
            {% if item[3] != "Sold Out"%}
            <td><form action="{{url_for('b.confirm_order')}}" method="POST">
                <input type="radio" value="{{item[4]}}" name="flight_id" checked style="display:none">
                <input type="radio" value="search" name="type" checked style="visibility:hidden">
                <input type="submit" name="submit" value="Order"></form></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% else %}
<h2>Sorry, no matching flights.</h2>
{% endif %}
{% if back %}
<h2>Back</h2><br>
    {% for item in back%}
        <tr>
            {% for i in item[:4] %}
                <td>{{i}}</td>
            {% endfor %}
            {% if item[3] != "Sold Out"%}
            <td><form action="{{url_for('b.confirm_order')}}" method="POST">
                <input type="radio" value="{{item[4]}}" name="flight_id" checked style="visibility:hidden">
                <input type="radio" value="search" name="type" checked style="visibility:hidden">
                <input type="submit" name="submit" value="Order"></form></td>
            {% endif %}
        </tr>
    {% endfor %}
{% endif %}
<table></table>
{% endblock %}