<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Getting Started <br>
   <a href="{{url_for('auth.register', role ='a')}}">I'm an Airline Staff</a><br>
   <a href="{{url_for('auth.register', role ='b')}}">I'm a Booking Agent</a><br>
   <a href="{{url_for('auth.register', role ='c')}}">I'm a Customer</a><br>
   Already have an account? <br>
   <a href="{{url_for('auth.login', role ='a')}}">I'm an Airline Staff</a><br>
   <a href="{{url_for('auth.login', role ='b')}}">I'm a Booking Agent</a><br>
   <a href="{{url_for('auth.login', role ='c')}}">I'm a Customer</a><br>
</body>
</html>