{%extends "dashboard.html"%}
{%block tab%}
<li class="nav-item">
    <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history"
        aria-selected="true">History
        Order</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
        aria-selected="false">Spending</a>
</li>
{%endblock%}
{%block panel%}
<div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="home-tab" style="height:200%">
    <div class="container-fluid" style="padding:0px">
        <div class="col-lg-3" style="padding: 0px">
            <div class="card position-fixed" style="background-color:#30aab8; color: white; padding: 0px; width: 20vw">
                <h5 class="card-header">Search Booking History</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="from">FROM</label>
                            <input type="text" class="form-control" id="from" placeholder="Airport / City">
                        </div>
                        <div class="form-group">
                            <label for="to">TO</label>
                            <input type="text" class="form-control" id="to" placeholder="Airport / City">
                        </div>
                        <div class="form-group">
                            <label for="dept">DEPART</label>
                            <input type="text" class="form-control" id="dept" placeholder="MM/DD/YYYY">
                        </div>
                        <div class="form-group">
                            <label for="arrv">ARRIVE</label>
                            <input type="text" class="form-control" id="arrv" placeholder="MM/DD/YYYY">
                        </div>
                        <script>
                            $('#dept').datepicker({
                                autoclose: true,
                                todayHighlight: true
                            });
                            $('#arrv').datepicker({
                                autoclose: true,
                                todayHighlight: true
                            });
                        </script>
                        <button type="submit" id="searchhis" class="btn btn-outline-light btn-block"
                            style="margin-top:35px"><i class="fas fa-search"></i> Search History</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-9" style="padding-right: 0px">
        </div>
    </div>
</div>
<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="profile-tab">
</div>

<style>
    #searchhis:hover {
        color: #30aab8 !important;
    }
</style>
{%endblock%}