<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    this is the index page. <br>
    <a href="/login">Login</a>
    <a href="/login/as">Login as Airline Staff</a>
    <a href="/login/ba">Login as Booking Agent </a>
    <a href="/reg">Register</a>
    <a href="/reg/as">Register as Airline Staff</a>
    <a href="/reg/ba">Register as Booking Agent </a>
</body>
</html>