<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    {% if g.user %}
    <nav><a href="">{{g.username}}</a><a href="{{url_for('auth.logout')}}">Log Out</a></nav>
    {% else %}
    <a href="/auth/login/a">Login as Airline Staff</a>
    <a href="/auth/login/b">Login as Booking Agent</a>
    <a href="/auth/login/c">Login as Customer</a><br>
    <a href="/auth/register/a">Register as Airline Staff</a>
    <a href="/auth/register/b">Register as Booking Agent</a>
    <a href="/auth/register/c">Register as Customer</a>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% block footer%}
    {% endblock %}
</body>
</html>