<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if result == 'n'%}
    <title>Welcome | Contrails</title>
    {% else %}
    <title>Search Result | Contrails</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js">
    </script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
        </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        function getValue(obj) {
            var value = obj.value;
            if (value != "twoway") {
                document.getElementById("retu").value = "Not Applicable";
                document.getElementById("retu").disabled = "disabled";
            } else {
                document.getElementById("retu").value = "";
                document.getElementById("retu").removeAttribute('disabled');
            }
        }

        function setContent() {
            var content = document.getElementById("collapseOne").className;

            var radio1 = document.getElementById("flight");
            var radio2 = document.getElementById("trip");

            var title = document.getElementById("collapse_title");

            var da = document.getElementById("da");
            var aa = document.getElementById("aa");
            var dept = document.getElementById("dept");
            var retu = document.getElementById("retu");

            var id = document.getElementById("flight_id");
            var airline = document.getElementById("airline");
            var dd = document.getElementById("dd");
            var ad = document.getElementById("ad");

            if (content == 'collapse') {
                radio2.removeAttribute("checked");
                radio1.setAttribute("checked", true);
                title.innerHTML = "Click again to search for flights by airports and dates";
                da.setAttribute("disabled", "disabled");
                aa.setAttribute("disabled", "disabled");
                dept.setAttribute("disabled", "disabled");
                retu.setAttribute("disabled", "disabled");

                id.removeAttribute("disabled");
                airline.removeAttribute("disabled");
                dd.removeAttribute("disabled");
                ad.removeAttribute("disabled");
            }
            else if (content == 'collasping') {
                clearTimeout();
                setTimeout(setContent(), 1000);
            }
            else {
                radio1.removeAttribute("checked");
                radio2.setAttribute("checked", true);
                title.innerHTML = "Or, search flight information by flight ID";
                id.setAttribute("disabled", "disabled");
                airline.setAttribute("disabled", "disabled");
                dd.setAttribute("disabled", "disabled");
                ad.setAttribute("disabled", "disabled");
                da.removeAttribute("disabled");
                aa.removeAttribute("disabled");
                dept.removeAttribute("disabled");
                if ($("#optionsRadios1").is(':checked')) {
                    retu.removeAttribute("disabled");
                }
            }
        }        
    </script>
    <style>
        .table .thead-light th {
            background-color: #a2e6ee;
        }

        .table .thead-light th {
            border-top: 0;
            border-color: white
        }
    </style>
</head>

<body>
    <div class="container">
        <!--Navigator Bar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #048998;">
            <a class="navbar-brand" href="/">con<strong>trails</strong>&nbsp;<i class="fas fa-plane"
                    data-fa-transform="rotate--45"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home / Search&nbsp;<i class="fas fa-search"></i></a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if g.user %}
                    <li class="nav-item dropdown active" id="cookie">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Hi, {{g.username}}!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/{{g.role}}/settings">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/{{g.role}}/flights">My Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('auth.logout')}}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown active" id="before1">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Register
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/auth/register/c">Customer</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/register/b">Booking Agent</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/register/a">Airline Staff</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active" id="before2">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/auth/login/c">Customer</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/login/b">Booking Agent</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/login/a">Airline Staff</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if result == 'n' %}
        <div class="row">
            <div class="col">
                <div
                    style="color: white; background-image: url({{url_for('static',filename='journey.jpg')}}); background-size: 100%; font-size: 3vw; padding-left: 2vw;padding-bottom: 1vh">
                    start your journey<br>
                    with<br>con<strong>trails</strong>&nbsp;<i class="fas fa-plane"
                        data-fa-transform="rotate--45"></i><br></div>
            </div>
        </div>
        {% endif %}
        <form action="" method="POST">
            <input id="flight" type="radio" name="content" value="flight" style="display:none">
            <input id="trip" type="radio" name="content" value="trip" checked style="display:none">
            <div class="row" style="padding-left: 15px; padding-right: 15px; color: white; margin-bottom: 1vh">

                <div class="col-lg-3" style="background-color:#7579ad">
                    <br>
                    <p style="color: white">FROM</p>
                    <select name="dept_airport" id="da" class="form-control" required>
                        {% for airport in dept_airport%}
                        <option value="{{airport[0]}}">{{airport[0]}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                </div>
                <div class="col-lg-3" style="background-color: #295f9e">
                    <br>
                    <p style="color:white">TO</p>
                    <select name="arrv_airport" id="aa" class="form-control" required>
                        {% for airport in arrv_airport %}
                        <option value="{{airport[0]}}">{{airport[0]}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-lg-3" style="background-color:#eb7756">
                    <br>
                    <p style="color:white">DEPART</p>
                    <input id="dept" class="form-control" name="dept_time" placeholder="YYYY-MM-DD" required />
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" name="trip" id="optionsRadios1" value="twoway" checked required
                                onclick="getValue(this);"> Return
                            &nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input type="radio" name="trip" id="optionsRadios2" value="oneway" required
                                onclick="getValue(this);"> One Way
                        </label>
                    </div>
                    <br>
                    <script>
                        $('#dept').datepicker({
                            autoclose: true,
                            todayHighlight: true,
                            format: 'yyyy-mm-dd'
                        });
                    </script>
                </div>
                <div class="col-lg-3" style="background-color:#bf5859">
                    <br>
                    <p style="color:white">RETURN</p>
                    <input id="retu" class="form-control" placeholder="YYYY-MM-DD" name="back_date" required />
                    <br>
                    <script>
                        $('#retu').datepicker({
                            autoclose: true,
                            todayHighlight: true,
                            format: 'yyyy-mm-dd',
                        });
                    </script>
                </div>
            </div>
            <div id="accordion" style="margin-bottom:8px;">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link text-muted" id="collapse_title" onclick="setContent()"
                            data-toggle="collapse" href="#collapseOne">
                            Or, search flight information by flight ID
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- new search form -->
                            <div class="form-row">
                                <div class="col">
                                    <label for="flight_id">Flight ID</label>
                                    <input type="text" class="form-control" id="flight_id" name="flight_id" required
                                        disabled="disabled">
                                </div>
                                <div class="col">
                                    <label for="airline">Airline</label>
                                    <select class="form-control" name="airline" id="airline" required
                                        disabled="disabled">
                                        {% for airline in airlines %}
                                        <option value="{{airline[0]}}">{{airline[0]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="dd">Depature Date</label>
                                    <input type="text" class="form-control" id="dd" name="dept_date" required
                                        disabled="disabled">
                                <script>
                                    $('#dd').datepicker({
                                        autoclose: true,
                                        todayHighlight: true,
                                        format: 'yyyy-mm-dd'
                                    });
                                </script>
                                </div>
                                <div class="col">
                                    <label for="ad">
                                        Arrive Date
                                    </label>
                                    <input type="text" class="form-control" id="ad" name="arrv_date" required
                                        disabled="disabled">
                                <script>
                                    $('#ad').datepicker({
                                        autoclose: true,
                                        todayHighlight: true,
                                        format: 'yyyy-mm-dd'
                                    });
                                </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if result == 'n'%}
            <div class="flex-grow-1"
                style="background-image: url({{url_for('static',filename='footer.jpg')}}); background-size: cover; background-repeat: 0; height: 34.5vh">
                <!--Search Button-->
                <div class="row" style="height: 15vh; padding-top: 3vh; padding-bottom: 3vh; margin: 0">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-3" style="text-align:center">
                        <button type="submit" class="btn btn-success"
                            style="width: 80%; height: 80%; font-size: 120%">Search Flight &nbsp;<i
                                class="fas fa-plane-departure"></i></button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                <div class="col-lg-9 text-center text-muted" style="padding:0px">
                    {% if g.role == 'a' %}
                    Only customer or booking agent can order tickets.
                    {% endif %}
                </div>
                <div class="col-lg-3" style="text-align:center">
                    <button type="submit" class="btn btn-outline-success btn-block" value="Search"
                        style="height: 5vh; margin-bottom: 0;margin-top: 1vh">Search Flight &nbsp;<i
                            class="fas fa-plane-departure"></i></button>
                </div>
            </div>
            {% endif %}
        </form>
        {% if result == 'n' %}
        <!-- display nothing when not searched -->
        {% elif result == 'e' %}
        {% if back != 'o' %}
        <h2>Depart</h2>
        {% endif %}
        <h2 style="text-align:center; padding:10px;color: #048998">Sorry, no matching flights.</h2>
        {% else %}
        <div class="card shadow p-3 mb-5 bg-white rounded"
            style="border-color:#30aab8; border-width: 1px; padding: 0px !important; margin-bottom: 10px !important;">
            <div class="card-header">
                <h3 style="margin:0px">Depart</h3>
            </div>
            <div class="card-body" style="padding:0">
                <div class="table-responsive">
                    <table class="table table-hover" style="margin:0">
                        <thead class="thead-light">
                            <tr>
                                <th>Airline</th>
                                <th>Departure Time</th>
                                <th>Arrive Time</th>
                                <th>Price</th>
                                <th>Flight ID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in result %}
                            <tr>
                                {% for i in item[:5] %}
                                <td>{{i}}</td>
                                {% endfor %}
                                {% if g.role == 'c' %}
                                {% if item[3] != "Sold Out"%}
                                <td>
                                    <form action="{{url_for('c.confirm_order')}}" method="POST" style="margin:0">
                                        <input type="radio" value="{{item[4]}}" name="flight_id" checked
                                            style="visibility:hidden">
                                        <input type="radio" value="search" name="type" checked
                                            style="visibility:hidden">
                                        <input type="submit" name="submit" value="Order"
                                            class="btn btn-outline-success btn-sm"></form>
                                </td>
                                {% endif %}
                                {% endif %}
                                {% if g.role == 'b' %}
                                {% if item[3] != "Sold Out"%}
                                <td>
                                    <form action="{{url_for('b.confirm_order')}}" method="POST" style="margin:0">
                                        <input type="radio" value="{{item[4]}}" name="flight_id" checked
                                            style="visibility:hidden">
                                        <input type="radio" value="search" name="type" checked
                                            style="visibility:hidden">
                                        <input type="submit" name="submit" value="Order"
                                            class="btn btn-outline-success btn-sm"></form>
                                </td>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if back == 'o' %}
        <!-- search for one way, display nothing -->
        {% elif back == 'e' %}
        <br>
        <h2>Return</h2>
        <h2 style="text-align:center; padding:10px;color: #048998">Sorry, no matching flights.</h2>
        {% else %}
        <br>
        <div class="card shadow p-3 mb-5 bg-white rounded"
            style="border-color:#30aab8; border-width: 1px; padding: 0px !important; margin-bottom: 10px !important;">
            <div class="card-header" style="padding:12px;">
                <h3 style="margin:0px;">Return</h3>
            </div>
            <div class="card-body" style="padding:0">
                <div class="table-responsive">
                    <table class="table table-hover" style="margin:0">
                        <thead class="thead-light">
                            <tr>
                                <th>Airline</th>
                                <th>Departure Time</th>
                                <th>Arrive Time</th>
                                <th>Price</th>
                                <th>Flight ID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in back %}
                            <tr>
                                {% for i in item[:5] %}
                                <td>{{i}}</td>
                                {% endfor %}
                                {% if g.role == 'c' %}
                                {% if item[3] != "Sold Out"%}
                                <td>
                                    <form action="{{url_for('c.confirm_order')}}" method="POST" style="margin:0">
                                        <input type="radio" value="{{item[4]}}" name="flight_id" checked
                                            style="visibility:hidden">
                                        <input type="radio" value="search" name="type" checked
                                            style="visibility:hidden">
                                        <input type="submit" name="submit" value="Order"
                                            class="btn btn-outline-success btn-sm"></form>
                                </td>
                                {% endif %}
                                {% endif %}
                                {% if g.role == 'b' %}
                                {% if item[3] != "Sold Out"%}
                                <td>
                                    <form action="{{url_for('b.confirm_order')}}" method="POST" style="margin:0">
                                        <input type="radio" value="{{item[4]}}" name="flight_id" checked
                                            style="visibility:hidden">
                                        <input type="radio" value="search" name="type" checked
                                            style="visibility:hidden">
                                        <input type="submit" name="submit" value="Order"
                                            class="btn btn-outline-success btn-sm"></form>
                                </td>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>