{%extends 'reg.html'%}
{%block header%}Booking Agent Registration{%endblock%}
{%block content%}
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        Confirm password:<input type="password" name="password_c"><br>
        <input type="submit" name="submit" value="Submit">
        <a href="/auth/login/b"><button type="button" value="back">Back to Login</button></a>
        <p>A BAID will be assigned to you once the registration is done.</p>
{%endblock%}