{%extends 'reg.html'%}
{%block header%}Airline Staff Registration{%endblock%}
<br>
{%block content%}
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Confirm password:<input type="password" name="password_c"><br>
        First Name: <input type="text" name="fname"><br>
        Last Name: <input type="text" name="lname"><br>
        Date of Birth: <input type="date" name="bday"><br>
        <div id="phone#"></div>
        Phone Number: <input type="number" name="phone"><br>
        <!-- for now only one. Can add more later -->
        Airline: <select name="airline" id="airline">
            {%for i in airlines %}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>
        <input type="submit" name="submit" value="Submit">
        <a href="/login/{{role}}"><button type="button" value="back">Back to Login</button></a>
    </form>
{%endblock%}