{% extends "dashboard.html"%}
{% block content%}
 <h1> Airline Staff Settings</h1>
 Name:{{name}} <br>
 Email:{{email}} <br>
 <h2>Address</h2>
 Building #: {{building_number}} <br>
 Street: {{street}} <br>
 City: {{city}} <br>
 State: {{state}} <br>
 <h2>Passport</h2>
 Passport #:{{passport_number}} <br>
 Passport Expiration Date:{{passport_exp}} <br>
 Passport Country:{{passport_country}} <br>
 Date of Birth:{{bday}} <br>
<h2>Phones</h2> 
 {% for phone in phones %}
 {{phone[0]}} <br>
 {% endfor %}
 Add phone:
 <form action="#" method="POST">
     Phone Number:<input type="number" name="phone_number">
     <input type="submit" value="Add">
 </form>
 {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        {% if message %}
      <li>{{ message }}</li>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
 {% endblock %}
    